---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="¿Quiénes somos?"
	description="Conoce más sobre nosotros"
	pubDate={new Date('Marzo 09 2025')}
	heroImage="/blog-placeholder-about.jpg"
	author="SIMTRAEMPUVALLE"
>
	<p>
		Somos un sindicato mixto de trabajadores públicos de la Universidad del Valle, que propende por los derechos de sus afiliados.
	</p>
</Layout>
