---
import Layout from "../layouts/BlogPost.astro";
import MisionVision from "../components/MisionVision.astro";
import JuntaDirectiva from "../components/JuntaDirectiva.astro";
import Comites from "../components/Comites.astro";
---
<Layout
  title="¿Quiénes somos?"
  description="Conoce más sobre nosotros"
  pubDate={new Date("Marzo 09 2025")}
  author="SIMTRAEMPUVALLE"
>
  <p>
    Somos un sindicato mixto de trabajadores públicos de la Universidad del
    Valle, que propende por los derechos de sus afiliados.
  </p>

  <MisionVision />

  <JuntaDirectiva />

  <Comites />
  
</Layout>