---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---


<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={'Asuntos de genero'} description="En esta secci칩n encontrar치s todos los asuntos de genero del sindicato." />
  </head>
  <body>
    <Header />
    <main class="max-w-3xl mx-auto py-8 px-4">
      <p class="mb-8">En esta secci칩n encontrar치s todos los asuntos de genero del sindicato.</p>
    </main>
    <Footer />
  </body>
</html>
