<div class="w-full h-full md:h-120 relative bg-[url('/banner.webp')] bg-cover bg-center md:bg-[center_-200px] md:bg-fixed">
    <div class="absolute inset-0 bg-black opacity-65"></div>
    <div class="flex justify-between flex-col md:flex-row pt-16 md:pt-0 relative z-10 h-full items-center px-6 md:px-12 lg:px-24">
      <div class="w-60 md:w-80">
        <img src="/Logo_Blanco.png" alt="Logo" class="w-full h-auto object-cover"/>
      </div>
      <div class="text-white text-right p-2 md:p-6 flex flex-col justify-center items-center w-full md:w-[60%]">
        <h1 class="mt-12! md:mt-0! lg:mt-0! text-white! font-bold! text-right! w-full! text-5xl!">
          SIMTRAEMPUVALLE
        </h1>
        <p class="text-[18px] text-right w-full mt-2">
          Sindicato Mixto de Trabajadores y Empleados Públicos de Univalle 👷‍♂️📚 <br />
        </p>
        <p class="text-[18px] text-right">
          Asociación que lucha por los derechos de sus afiliados. <br/> En esta página encontrarás información sobre el sindicato, sus actividades y los beneficios que ofrece
        </p>
      </div>
    </div>
  </div>
  