<div class="mt-12 mb-8">
  <h2 class="text-3xl! font-semibold text-gray-800!">Calendario de eventos</h2>
  <p class="mb-8">
    ¡Entérate de las actividades que tenemos program
    <di class="m-auto">
      <iframe
        src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FBogota&showPrint=0&src=aXZhbmRhcmlkdXF1ZUBnbWFpbC5jb20&src=ZmFtaWx5MTUyMzkyNjI1NTUyNjU1MDkwODFAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4uY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23C0CA33&color=%230B8043&color=%230B8043"
        style="margin: auto"
        width="720"
        height="600"
        frameborder="0"
        scrolling="no">
    </iframe>
    </di>
  </p>
</div>

<!-- <style>
    main{
        width: 900px !important;
    }
</style> -->