---
// src/components/GaleríaFotos.astro
import fs from "fs";

interface GalleryImage {
  src: string;
  alt: string;
  orientation: string;
}

const dataPath = "./public/galeria/index.json";
const raw = fs.readFileSync(dataPath, "utf-8");
const images: GalleryImage[] = JSON.parse(raw);
---

<section class="w-full pb-8 galeria">
  <div class="columns-2 sm:columns-3 md:columns-4 lg:columns-5 gap-4 [column-fill:_balance]">
    {
      images.map((img: GalleryImage) => (
        <div class="mb-4 break-inside-avoid">
          <a href={img.src}
            data-pswp-src={img.src}
            data-pswp-width={img.orientation === "vertical" ? 720 : 1280}
            data-pswp-height={img.orientation === "vertical" ? 1280 : 720}
            target="_blank" 
          >
            <img 
              src={img.src} 
              alt={img.alt} 
              class="w-full h-auto rounded-lg shadow-md hover:opacity-90 transition outline-1 outline-gray-50 outline-offset-2 hover:outline-red-500 hover:outline-offset-4"
              loading="lazy"
            />
          </a>
        </div>
      ))
    }
  </div>
</section>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  const lightbox = new PhotoSwipeLightbox({
    gallery: ".galeria",
    children: "a",
    pswpModule: () => import("photoswipe"),
    padding: { top: 20, bottom: 40, left: 100, right: 100 }
  });
  lightbox.init();
</script>
